body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    width: 100%;
  }
  

.header{
  background: -webkit-linear-gradient(rgba(255,0,0,0),cornsilk );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-weight: bold;
  padding: 20px;
  color: cornsilk;
  font-size: 45px;
  background-color: rgb(61, 136, 141);
}
#app{
  width: 100%;
}
.autocomplete {
    position: relative;
    display: inline-block;
    width: 100%;
  }

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
 
  .autocomplete-active {
    background-color:  rgb(61, 136, 141) !important; 
    color: #ffffff; 
  }

.col-small{
  position: relative;
  float:left;
  width: 20%;
  padding-right: 10px;
  padding-left: 10px;}

#search{
    background: cornsilk;
    border-style: solid;
    border-color: rgb(61, 136, 141);
    color:  rgb(12, 73, 75);
    width: 100%;
    margin-top: 5px;
}

#searchbar{
    width: 100%;
    
}

.five{ 
    padding: 5%;
    color: rgb(61, 136, 141);
    margin: 0;
}

#cityinfo{
    width: 100%;
    height:40%;
    margin: 10px;
    margin-top:0px;   
}

#forecast{    
    width: 100%;
    padding: 0;
    margin:0;
    display: flex;
    justify-content: space-between;
}

#sidebar{
    padding: 0;
    margin-left: 10px;
}
#list{
  overflow: hidden;
  text-overflow: ellipsis
}
#iname{ 
  font-weight: bold;
}
@media all and (max-width:800px) 
{
  .col-small
    {
        display: block; 
        float: none; 
        width: 100%;
    }
    img
    { margin:0;
    width:80px;
    float: right;
    }
}